.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #000; /* Dış çerçeve siyah olsun */
}

canvas {
  max-width: 90vw; /* Genişliğin en fazla %90'ını kaplasın */
  max-height: 90vh; /* Yüksekliğin en fazla %90'ını kaplasın */
  object-fit: contain;
}
